<f:layout name="Default" />


<f:section name="main">


    <f:flashMessages renderMode="div" />

    <div class="backlink">
        <a href="{backlinkUrl}" class="btn btn-default btn-form-back-left">{backlinkText} </a>
    </div>

    <f:form action="update" name="country" object="{country}" class="form-horizontal"
            enctype="multipart/form-data" arguments="{region: region}" onsubmit="return false;">
        <div class="row form-group">
            <label class="col-sm-3 col-xs-12 control-label" for ="name">Name</label>
            <div class="col-sm-9 col-xs-12">
                <f:form.textfield property="name" value="{country.name}" class="form-control"  additionalAttributes="{readonly: 'readonly'}" />
            </div>
        </div>
    </f:form>
    <f:link.action action="new" >Neues Land</f:link.action>


</f:section>