<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label required" for ="name">Artikelname:</label>
    <div class="col-sm-9 col-xs-12">
        <f:form.textfield property="title" value="{article.title}" class="form-control" required="1"/>
    </div>
</div>
<!-- Kategorie -->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label required" for ="name">Kategorie</label>
    <div class="col-sm-9 col-xs-12">
        <f:form.hidden name="currentPageId" value="{currentPageId}" id="currentPageId" />

        <f:form.select name="parentCategory" options="{categoryList.0}" optionValueField="uid" optionLabelField="title"
                       prependOptionLabel="Kategorien" value="{firstParent}" class=" form-control" id="selectKat"
                       additionalAttributes="{required: 'required'}" />
    </div>
</div>

<!-- Unter Kategorie -->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label required" for="name">Unterkategorie</label>
    <div class="col-sm-9 col-xs-12">

        <f:form.select property="category" options="{categoryList.1}" optionValueField="uid" optionLabelField="title"
                       prependOptionLabel="Unterkategorien" value="{article.category.uid}" class=" form-control" id="selectSubkat"
                       additionalAttributes="{required: 'required'}" />
    </div>
</div>
<!-- Bild -->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label" for="name">Bild</label>
    <div class="col-sm-9 col-xs-12">
        <f:form.upload name="image"  class="form-control"/>
        <f:image src="{article.image.originalResource.publicUrl}" width="200" alt="Produktbild" treatIdAsReference="TRUE"/>

        <f:form.hidden property="image" value="{article.image}" />
    </div>
</div>
<!-- Gebühr in Euro ab -->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label required" for="fee">Gebühr in Euro ab </label>
    <div class="col-sm-9 col-xs-12">
        <f:form.textfield property="fee" value="{article.fee}" class="form-control" required="1"/>
    </div>
</div>

<!-- Kurzbeschreibung -->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label required" for="shortDescription">Kurzbeschreibung</label>
    <div class="col-sm-9 col-xs-12">
        <f:form.textarea  cols="20" rows="5" property="shortDescription"
                          value="{article.shortDescription ->f:format.html(parseFuncTSPath: 'lib.parseFunc')}"  class=" form-control "
                          additionalAttributes="{required: 'required'}" />
    </div>
</div>

<!-- Beschreibung -->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label" for="name">Beschreibung</label>
    <div class="col-sm-9 col-xs-12">
        <f:form.textarea  cols="20" rows="5" property="description"
                          value="{article.description ->f:format.html(parseFuncTSPath: 'lib.parseFunc')}"  class=" form-control "/>
    </div>
</div>

<!-- Ausleihbedingung pro Artikel-->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label" for ="name">Ausleihbedingung speziell für Artikel</label>
    <div class="col-sm-9 col-xs-12">
        <f:form.textarea  cols="20" rows="5" property="lendConditions"
                          value="{article.lendConditions  ->f:format.html(parseFuncTSPath: 'lib.parseFunc')}"  class=" form-control "/>


    </div>
</div>
<!-- online buchbar wurde entfernt, Funktionalität über Ausleihstelle -> onlineAdministration -->


<!-- telefonisch buchbar-->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label" for="name">Artikel telefonisch buchbar</label>
    <div class="col-sm-9 col-xs-12">
        <f:form.checkbox   property="bookingPhone"
                           value="bookingPhone"  class=" form-control "/>
    </div>
</div>

<!-- per email buchbar-->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label" for="name">Artikel per Email buchbar</label>
    <div class="col-sm-9 col-xs-12">
        <f:form.checkbox   property="byEmail"
                           value="byEmail"  class=" form-control "/>
    </div>
</div>

<!-- Ausleihbedingung wird nicht gebraucht, kann eingeblendet werden von Ausleihstelle-->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label" for ="name">Ausleihbedingung</label>
    <div class="col-sm-9 col-xs-12">
        <f:form.textarea  cols="20" rows="5" name="organization.lendConditions" additionalAttributes="{readonly: 'readonly'}"
                          value="{organization.lendConditions  ->f:format.html(parseFuncTSPath: 'lib.parseFunc')}"  class=" form-control "/>


    </div>
</div>

<!-- INFO : siehe Ausleihbedingung  -->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label" for ="name">Info</label>
    <div class="col-sm-9 col-xs-12">

            <f:form.textarea  cols="20" rows="5" name="organization.info" additionalAttributes="{readonly: 'readonly'}"
                          value="{organization.info ->f:format.html(parseFuncTSPath: 'lib.parseFunc')}"  class=" form-control "/>
        <f:comment>
            <div class="form-control">
                <f:format.raw>{organization.info}</f:format.raw>
            </div>
        </f:comment>
    </div>
</div>

<!-- AGB : siehe Ausleihbedingung  -->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label" for ="name">AGB</label>
    <div class="col-sm-9 col-xs-12">
        <f:form.textarea  cols="20" rows="5" name="organization.agb " additionalAttributes="{readonly: 'readonly'}"
                          value="{organization.agb  ->f:format.html(parseFuncTSPath: 'lib.parseFunc')}"  class=" form-control "/>

    </div>
</div>

<!-- Öffnungszeiten : siehe Ausleihbedingung  -->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label" for ="name">Öffnungszeiten</label>
    <div class="col-sm-9 col-xs-12">
        <f:form.textarea  cols="20" rows="5" name="organization.openingTimes" additionalAttributes="{readonly: 'readonly'}"
                          value="{organization.openingTimes  ->f:format.html(parseFuncTSPath: 'lib.parseFunc')}"  class=" form-control "/>

    </div>
</div>


<f:form.validationResults>
    <f:if condition="{validationResults.flattenedErrors}">


        <f:for each="{validationResults.flattenedErrors}" as="errors" key="propertyPath">

            {propertyPath}


            <f:for each="{errors}" as="error">

                {error.code}: {error}
            </f:for>


        </f:for>

    </f:if>
</f:form.validationResults>