<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label required" for ="name">Name der Organization</label>
    <div class="col-sm-9 col-xs-12">
        <f:form.textfield property="name" value="{organization.name}" class="form-control"/>
    </div>
</div>
<!-- benutzername -->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label required" for ="username">Benutzername</label>
    <div class="col-sm-9 col-xs-12">
        <input style="display:none" type="text" name="fakeusernameremembered"/>
        <f:if condition="{creation} == 0">
            <f:then>
                <f:form.hidden name="feuserId" value="{organization.feusername.uid}" />
                <f:form.textfield readonly="readonly" value="{organization.feusername.username}" class="form-control" additionalAttributes="{autocomplete: 'off'}"/>
            </f:then>
            <f:else>
                <f:form.select name="username" options="{feUserList}" optionValueField="uid" optionLabelField="username" value=""
                               class=" form-control" additionalAttributes="{required: 'required'}" prependOptionLabel="--Bitte wählen Sie--"/>
            </f:else>

        </f:if>
    </div>
</div>
<f:if condition="{source} == 'edit' " >
    <!-- Kennwort-->
    <div class="row form-group">
        <label class="col-sm-3 col-xs-12 control-label" for ="password">Kennwort</label>
        <div class="col-sm-9 col-xs-12">

            <input style="display:none" type="password" name="fakepasswordremembered"/>
            <f:form.password name="password" value="" class=" form-control" additionalAttributes="{autocomplete: 'off'}"/>
        </div>
    </div>
    <!-- Kennwort wiederholen -->
    <div class="row form-group">
        <label class="col-sm-3 col-xs-12 control-label" for="passwordConfirmation">Kennwort wiederholen</label>
        <div class="col-sm-9 col-xs-12">
            <f:form.password name="passwordConfirmation"  value="" class=" form-control "/>
        </div>
    </div>
</f:if>
<!-- Adresse -->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label required" for ="name">Adresse</label>
    <div class="col-sm-9 col-xs-12">
        <f:form.textfield property="address.street"  class="form-control" required="1"/>
    </div>
</div>

<!-- Telefon -->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label required" for ="name">Telefon</label>
    <div class="col-sm-9 col-xs-12">
        <f:form.textfield property="address.phone"  class="form-control" required="1"/>
    </div>
</div>
<!-- Mobile -->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label" for ="name">Mobiltelefon</label>
    <div class="col-sm-9 col-xs-12">
        <f:form.textfield property="address.mobile"  class="form-control"/>

    </div>
</div>
<!-- Email -->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label required" for ="name">Email</label>
    <div class="col-sm-9 col-xs-12">
        <f:form.textfield property="address.email"  class="form-control" required="1"/>
    </div>
</div>
<!-- WWWW -->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label required" for ="name">URL</label>
    <div class="col-sm-9 col-xs-12">
        <f:form.textfield property="url"  class="form-control" required="1"/>
    </div>
</div>

<!-- Online-Verwaltung -->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label" for="name">Online Verwaltung</label>
    <div class="col-sm-2 col-xs-12">
        <f:form.checkbox   property="onlineAdministration"
                           value="onlineAdministration"  class=" form-control "/>
    </div>
</div>


<!-- Folder für Freizeiten -->
<f:if condition="{source} == 'new' " >
    <f:then>
    <div class="row form-group">
        <label class="col-sm-3 col-xs-12 control-label required" for="leisureFolderPid">Seite für Artikel</label>
        <div class="col-sm-9 col-xs-12">
            <f:form.select name="leisureFolderPid" options="{pageList}"  class=" form-control "
                           prependOptionLabel="--Bitte wählen Sie --"
                           additionalAttributes="{style: 'width: 250px', required: 'required'}" />
        </div>
    </div>
    </f:then>
    <f:else>
        <f:form.hidden name="leisureFolderPid" value="{organization.leisureFolderPid}" />
        <div class="row form-group">
            <label class="col-sm-3 col-xs-12 control-label required" for="leisureFolderPid">Seite für Artikel</label>
            <div class="col-sm-9 col-xs-12">

            {organization.leisureFolderPidTitle}
            </div>
        </div>
    </f:else>
</f:if>


<!-- Kontaktperson  2. Formular -->
<div class="row form-group">
    <h3>Kontaktperson für die Freizeit</h3>
</div>
<!-- Kontaktperson Name -->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label" for ="name">Name</label>
    <div class="col-sm-9 col-xs-12">
        <f:form.textfield property="contact.name" value="{organization.contact.name}" class="form-control"/>
    </div>
</div>
<!-- Kontaktperson Email -->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label" for ="contact.address.email">Email</label>
    <div class="col-sm-9 col-xs-12">
        <f:form.textfield property="contact.address.email" value="{organization.contact.address.email}" class="form-control"/>
    </div>
</div>
<!-- Kontaktperson Telefon -->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label" for ="contact.address.phone">Telefon</label>
    <div class="col-sm-9 col-xs-12">
        <f:form.textfield property="contact.address.phone" value="{organization.contact.address.phone}" class="form-control"/>
    </div>
</div>
<!-- Kontaktperson Strasse -->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label" for ="contact.address.street">Strasse</label>
    <div class="col-sm-9 col-xs-12">
        <f:form.textfield property="contact.address.street" value="{organization.contact.address.street}" class="form-control"/>
    </div>
</div>
<!-- Kontaktperson Ort -->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label" for ="contact.address.street">Ort</label>
    <div class="col-sm-9 col-xs-12">
        <f:form.textfield property="contact.address.city" value="{organization.contact.address.city}" class="form-control"/>
    </div>
</div>


<f:form.validationResults>
    <f:if condition="{validationResults.flattenedErrors}">


        <f:for each="{validationResults.flattenedErrors}" as="errors" key="propertyPath">

            {propertyPath}


            <f:for each="{errors}" as="error">

                {error.code}: {error}
            </f:for>


        </f:for>

    </f:if>
</f:form.validationResults>