
<table class="tx-bjr-freizeit" >
	<tr>
		<td>
			<f:translate key="tx_bjrfreizeit_domain_model_leisure.title" />
		</td>
		<td>
		{leisure.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_bjrfreizeit_domain_model_leisure.short_description" />
		</td>
		<td>
		{leisure.shortDescription}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_bjrfreizeit_domain_model_leisure.description" />
		</td>
		<td>
		{leisure.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_bjrfreizeit_domain_model_leisure.price" />
		</td>
		<td>
		{leisure.price}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_bjrfreizeit_domain_model_leisure.service_specification" />
		</td>
		<td>
		{leisure.serviceSpecification}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_bjrfreizeit_domain_model_leisure.minimum_participants" />
		</td>
		<td>
		{leisure.minimumParticipants}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_bjrfreizeit_domain_model_leisure.partner" />
		</td>
		<td>
		{leisure.partner}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_bjrfreizeit_domain_model_leisure.cooperation" />
		</td>
		<td>
		{leisure.cooperation}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_bjrfreizeit_domain_model_leisure.location" />
		</td>
		<td>
		{leisure.location}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_bjrfreizeit_domain_model_leisure.leader" />
		</td>
		<td>
		{leisure.leader}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_bjrfreizeit_domain_model_leisure.referent" />
		</td>
		<td>
		{leisure.referent}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_bjrfreizeit_domain_model_leisure.image" />
		</td>
		<td>
				<f:image src="{leisure.image.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_bjrfreizeit_domain_model_leisure.file" />
		</td>
		<td>
				<a href="{leisure.file.originalResource.publicUrl}">
					{leisure.file.originalResource.name}
				</a>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_bjrfreizeit_domain_model_leisure.url" />
		</td>
		<td>
		{leisure.url}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_bjrfreizeit_domain_model_leisure.start_date" />
		</td>
		<td>
		{leisure.startDate -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_bjrfreizeit_domain_model_leisure.end_date" />
		</td>
		<td>
		{leisure.endDate -> f:format.date()}
		</td>
	</tr>
</table>