<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers">

	<f:layout name="Page" />

	<f:section name="Configuration">
		<flux:form id="standard">
			<!-- Insert fields, sheets, grid, form section objects etc. here, in this flux:form tag -->
		</flux:form>
		<flux:grid>
			<!-- Edit this grid to change the "backend layout" structure -->
			<flux:grid.row>
				<flux:grid.column colPos="0" colspan="3" name="main" label="Main Spalte" />
				<flux:grid.column colPos="1" name="right" label="Rechte Spaalte"/>
			</flux:grid.row>
			<flux:grid.row>
				<flux:grid.column colPos="5" name="Footer1" style="width: 30%" label="Footer 1 "/>
				<flux:grid.column colPos="6" name="Footer2" style="width: 30%" label="Footer 2"/>
				<flux:grid.column colPos="7" name="Footer3" style="width: 30%" label="Footer 3"/>
			</flux:grid.row>
		</flux:grid>
	</f:section>

	<f:section name="headerslides">
		<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="5000">
			<div class="carousel-inner" style="max-width: 1600px;margin: 0 auto;height: 350px;">
				<div class="item active" style="background-image: url(typo3conf/ext/siteprovider/Resources/Public/Images/Caroussel/fotolia_84832757.jpg); background-position: center center; background-repeat: no-repeat; background-size: cover;height:100%;"></div>
				<div class="item" style="background-image: url(typo3conf/ext/siteprovider/Resources/Public/Images/Caroussel/fotolia_84908261.jpg); background-position: center center; background-repeat: no-repeat; background-size: cover;height:100%;"></div>
				<div class="item" style="background-image: url(typo3conf/ext/siteprovider/Resources/Public/Images/Caroussel/fotolia_74020455.jpg); background-position: center center; background-repeat: no-repeat; background-size: cover;height:100%;"></div>
				<div class="item" style="background-image: url(typo3conf/ext/siteprovider/Resources/Public/Images/Caroussel/fotolia_60260776.jpg); background-position: center center; background-repeat: no-repeat; background-size: cover;height:100%;"></div>
				<div class="item" style="background-image: url(typo3conf/ext/siteprovider/Resources/Public/Images/Caroussel/fotolia_83041108.jpg); background-position: center center; background-repeat: no-repeat; background-size: cover;height:100%;"></div>
				<div class="item" style="background-image: url(typo3conf/ext/siteprovider/Resources/Public/Images/Caroussel/fotolia_69017886.jpg); background-position: center center; background-repeat: no-repeat; background-size: cover;height:100%;"></div>
				<div class="item" style="background-image: url(typo3conf/ext/siteprovider/Resources/Public/Images/Caroussel/fotolia_69281689.jpg); background-position: center center; background-repeat: no-repeat; background-size: cover;height:100%;"></div>
				<div class="item" style="background-image: url(typo3conf/ext/siteprovider/Resources/Public/Images/Caroussel/fotolia_75192609.jpg); background-position: center center; background-repeat: no-repeat; background-size: cover;height:100%;"></div>
				<div class="item" style="background-image: url(typo3conf/ext/siteprovider/Resources/Public/Images/Caroussel/fotolia_4201893.jpg); background-position: center center; background-repeat: no-repeat; background-size: cover;height:100%;"></div>
				<div class="item" style="background-image: url(typo3conf/ext/siteprovider/Resources/Public/Images/Caroussel/fotolia_85351019.jpg); background-position: center center; background-repeat: no-repeat; background-size: cover;height:100%;"></div>
				<div class="item" style="background-image: url(typo3conf/ext/siteprovider/Resources/Public/Images/Caroussel/fotolia_3657975.jpg); background-position: center center; background-repeat: no-repeat; background-size: cover;height:100%;"></div>
				<div class="item" style="background-image: url(typo3conf/ext/siteprovider/Resources/Public/Images/Caroussel/fotolia_71265962.jpg); background-position: center center; background-repeat: no-repeat; background-size: cover;height:100%;"></div>
			</div>
		</div>
		<a class="left carousel-control" href="#myCarousel" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</a>
		<a class="right carousel-control" href="#myCarousel" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right"></span>
		</a> <a href="#" style="position: absolute; bottom: 25px;left: 25px">
			<img src="typo3conf/ext/siteprovider/Resources/Public/Images/Caroussel/logo_02.png" width="665" height="98" id="logo2" class="img-responsive" alt="freizeiten-unterfranken" title="freizeiten-unterfranken.de">
		</a>
		<img src="typo3conf/ext/siteprovider/Resources/Public/Images/Caroussel/logo_03.png" width="125" height="63" id="logo3" class="hidden-sm hidden-xs" style="position: absolute; top: 25px;right: 35px">
	</f:section>

	<f:section name="Content">
		<h1>I am a page template!</h1>
		<p>
			My template file is EXT:siteprovider/Resources/Private/Page/Standard.html.
		</p>
		<div style="float: left; width: 75%;">
			<h2>Content main</h2>
			<v:content.render column="0" />
		</div>
		<div style="float: left; width: 25%;">
			<h2>Content right</h2>
			<v:content.render column="1" />
		</div>
	</f:section>
</div>
