<f:layout name="Default" />



<f:section name="main">
<h1>Kategorie bearbeiten</h1>

    <f:flashMessages renderMode="div" />
    <div class="rename-category edit-category">
        <f:form action="rename" name="category" object="{category}" class="form-horizontal" additionalAttributes="{autocomplete: 'off'}"
                enctype="multipart/form-data" arguments="{article: article}">

            <!-- Kategorie -->
            <div class="row form-group">
                <label class="col-sm-3 col-xs-12 control-label" for="parentCategory">Oberkategorie</label>
                <div class="col-sm-9 col-xs-12">
                    <f:form.hidden name="currentPageId" value="{currentPageId}" id="currentPageId" />

                    <f:form.select name="parentCategory" options="{categoryList.0}" optionValueField="uid" optionLabelField="title"
                                   prependOptionLabel="Kategorien" value="{firstParent}" class=" form-control" id="selectKat" />
                </div>
            </div>

            <!-- Unter Kategorie -->
            <div class="row form-group">
                <label class="col-sm-3 col-xs-12 control-label" for="category">Unterkategorie</label>
                <div class="col-sm-9 col-xs-12">

                    <f:form.select property="category" options="{categoryList}" optionValueField="uid" optionLabelField="title"
                                   prependOptionLabel="Unterkategorien" value="{category.uid}" class=" form-control" id="selectSubkat" />
                </div>
            </div>
            <div class="row form-group">
                <label class="col-sm-3 col-xs-12 control-label" for="title">Neuer Name</label>
                <div class="col-sm-9 col-xs-12">
                    <f:form.textfield name="title" value="" class="form-control" id="form-rename-title" />
                </div>
            </div>


            <f:link.action action="list" class="btn btn-default btn-form-back-left"> Zurück </f:link.action>
            <f:form.button type="button" name="rename" value="Umbenennen" class="btn btn-default -rename">Umbenennen</f:form.button>
            <f:form.button type="button" name="deleteSub" value="deleteSubCategory" class="btn btn-default -delete">Löschen Unterkategorie</f:form.button>
            <f:form.button type="button" name="deleteMain" value="deleteMainCategory" class="btn btn-default -delete">Löschen Oberkategorie</f:form.button>
        </f:form>
        <div id="dialog" title="Information">
            <p>This is the default dialog which is useful for displaying information. </p>
        </div>
    </div>

    <div class="create-category edit-category">
    <h2>Kategorie einfügen</h2>
        <f:form action="new" name="category" object="{category}" class="form-horizontal" additionalAttributes="{autocomplete: 'off'}"
                enctype="multipart/form-data" arguments="{category: category}">

            <div class="row form-group">
                <label class="col-sm-3 col-xs-12 control-label" for="category">Neue Kategorie</label>
                <div class="col-sm-9 col-xs-12">
                    <f:form.textfield property="title" value="{category.title}" class="form-control" id="form-create-title"/>
                </div>
            </div>

            <!-- Oberkategorie -->
            <div class="row form-group">
                <label class="col-sm-3 col-xs-12 control-label" for="parentCategory">Oberkategorie</label>
                <div class="col-sm-9 col-xs-12">
                    <f:form.hidden name="currentPageId" value="{currentPageId}" id="currentPageId" />

                    <f:form.select name="parentCategory" options="{categoryList.0}" optionValueField="uid" optionLabelField="title"
                                   prependOptionLabel="Kategorien" value="" class=" form-control" id="form-create-parent-category" />
                </div>
            </div>

            <f:link.action action="list" class="btn btn-default btn-form-back-left"> Zurück </f:link.action>
            <f:form.submit name="categorycreate" value="Anlegen" class="btn btn-default"/>

        </f:form>

    </div>

</f:section>

