{namespace v=Tx_Vhs_ViewHelpers}
<f:layout name="Default" />

<f:section name="main">

<h1>Artikelliste für Ausleihstelle <br />{organization.name}</h1>

<f:flashMessages renderMode="div" />

<table  class="tx_bjrfeadmin_off article-list table table-striped table-bordered table-condensed table-hover" >
    <thead>
    <tr>
        <th>Id</th>
        <th>Artikelname </th>
        <th>Kategorie</th>
        <th>Unter-<br />kategorie</th>
        <th>Gebühr</th>
        <th>Eintragungs-<br />datum</th>
        <th>Aktion</th>
    </tr>
    </thead>

    <f:for each="{articles}" as="article" key="key" iteration="itemIteration">
        <f:if condition="{itemIteration.isOdd }">
            <f:then>
                <v:var.set name="class" value="odd"></v:var.set>
            </f:then>
            <f:else>
                <v:var.set name="class" value="even"></v:var.set>
            </f:else>
        </f:if>
        <tr class="{class}">
            <f:render partial="Article/Listproperties" arguments="{article:article}" />
        </tr>
    </f:for>

</table>
    <f:form.hidden name="currentPageId" value="{currentPageId}" id="currentPageId" />

<f:link.action action="new" class="btn btn-primary"><i class="fa fa-plus-circle"></i> Neuer Artikel</f:link.action>
    <div id="dialog" title="Artikel löschen bestätigen" >
        Are you sure about this?
    </div>



</f:section>

