<f:layout name="Default" />



<f:section name="main">
<h1>Tags</h1>

<f:flashMessages renderMode="div"/>

<table  class="tx_bjrfreizeitfeadmin tags table table-striped table-bordered table-condensed table-hover" >
	<tr>
		<th>Name</th>
		<th colspan="2">Aktionen</th>

	</tr>

	<f:for each="{tags}" as="tag">
		<tr>
			<td>
                <f:format.html>{tag.name}</f:format.html>
            </td>
			<td>
                <f:link.action action="edit" arguments="{tags : tag}"><i class="fa fa-pencil"></i></f:link.action>
                <f:link.action action="delete" arguments="{tags : tag}" class="btn btn-default btn-xs" title="löschen">
                    <i class="fa fa-trash-o"></i>
                </f:link.action>

            </td>
		</tr>
	</f:for>
</table>
    <f:form.hidden name="currentPageId" value="{currentPageId}" id="currentPageId" />

<f:link.action action="new">Neue Tag</f:link.action>
    <div id="dialog" title="tag löschen bestätigen" >
        Are you sure about this?
    </div>

</f:section>