<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label required" for ="name">Titel der Freizeit:</label>
    <div class="col-sm-9 col-xs-12">
        <f:form.textfield property="title" value="{leisure.title}" class="form-control" required="1"/>
    </div>
</div>
<!-- Kategorie -->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label required" for ="name">Tags</label>
    <div class="col-sm-9 col-xs-12">
        <f:form.hidden name="currentPageId" value="{currentPageId}" id="currentPageId" />
        <f:for each="{leisure.tags}" as="tag" key="key" iteration="itemIteration">
            {tag.name}<br />
        </f:for>

    </div>
</div>


<!-- Bild -->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label" for="name">Bild</label>
    <div class="col-sm-9 col-xs-12">
        <f:form.upload name="image"  class="form-control"/>
        <f:image src="{leisure.image.originalResource.publicUrl}" width="200" alt="Produktbild" treatIdAsReference="TRUE"/>

        <f:form.hidden property="image" value="{leisure.image}" />
    </div>
</div>
<!-- Gebühr in Euro ab -->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label required" for="fee">Gebühr in Euro ab </label>
    <div class="col-sm-9 col-xs-12">
        <f:form.textfield property="price" value="{leisure.price}" class="form-control" required="1"/>
    </div>
</div>

<!-- Kurzbeschreibung -->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label required" for="shortDescription">Kurzbeschreibung</label>
    <div class="col-sm-9 col-xs-12">
        <f:form.textarea  cols="20" rows="5" property="shortDescription"
                          value="{leisure.shortDescription ->f:format.raw()}"  class=" form-control "
                          additionalAttributes="{required: 'required'}" />
    </div>
</div>

<!-- Beschreibung -->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label" for="name">Beschreibung</label>
    <div class="col-sm-9 col-xs-12">
        <f:form.textarea  cols="20" rows="5" property="description"
                          value="{leisure.description ->f:format.raw()}"  class=" form-control "/>
    </div>
</div>


<!-- online buchbar wurde entfernt, Funktionalität über Ausleihstelle -> onlineAdministration -->


<!-- per email buchbar-->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label" for="name">Zielgruppe</label>
    <div class="col-sm-9 col-xs-12">
        <f:form.select property="targetGroup" options="{regions}" optionValueField="uid" optionLabelField="name"
                       value="{leisure.targetGroup}" class=" form-control" additionalAttributes="{required: 'required'}"/>
    </div>
</div>

<!-- Ausleihbedingung wird nicht gebraucht, kann eingeblendet werden von Ausleihstelle-->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label" for ="name">Ferienzeit</label>
    <div class="col-sm-9 col-xs-12">
        <f:form.select property="holiday" options="{regions}" optionValueField="uid" optionLabelField="name"
                       value="{leisure.holiday}" class=" form-control" additionalAttributes="{required: 'required'}"/>

    </div>
</div>

<!-- INFO : siehe Ausleihbedingung  -->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label" for ="name">Land</label>
    <div class="col-sm-9 col-xs-12">

        <f:form.select property="country" options="{regions}" optionValueField="uid" optionLabelField="name"
                       value="{leisure.country.name}" class=" form-control" additionalAttributes="{required: 'required'}"/>

    </div>
</div>



<f:form.validationResults>
    <f:if condition="{validationResults.flattenedErrors}">


        <f:for each="{validationResults.flattenedErrors}" as="errors" key="propertyPath">

            {propertyPath}


            <f:for each="{errors}" as="error">

                {error.code}: {error}
            </f:for>


        </f:for>

    </f:if>
</f:form.validationResults>