<div class="row form-group" xmlns:f="http://www.w3.org/1999/html" xmlns:f="http://www.w3.org/1999/html"
     xmlns:f="http://www.w3.org/1999/html" xmlns:f="http://www.w3.org/1999/html">
    <label class="col-sm-3 col-xs-12 control-label required" for ="name">Titel der Freizeit:</label>
    <div class="col-sm-9 col-xs-12">
        <f:form.textfield property="title"  class="form-control" required="1"/>
    </div>
</div>
<!-- Tags -->

<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label required" for ="name">Tags</label>
    <div class="col-sm-9 col-xs-12">
        <f:form.hidden name="currentPageId" value="{currentPageId}" id="currentPageId" />
        <f:for each="{tagList}" as="tag" key="key" iteration="itemIteration">
            <f:form.checkbox property="tags" value="{tag.uid}" multiple="1" />&nbsp{tag.name}
        </f:for>

    </div>
</div>


<!-- Bild -->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label" for="name">Bild</label>
    <div class="col-sm-9 col-xs-12">
        <f:form.upload name="image"  class="form-control"/>
        <f:image src="{leisure.image.originalResource.publicUrl}" width="200" alt="Produktbild" treatIdAsReference="TRUE"/>

        <f:form.hidden property="image" value="{leisure.image}" />
    </div>
</div>
<!-- Gebühr in Euro ab -->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label required" for="fee">Gebühr in Euro ab </label>
    <div class="col-sm-9 col-xs-12">
        <f:form.textfield property="price" value="{leisure.price}" class="form-control" required="1" additionalAttributes="{size: 10}"/>
        <f:comment> -> f:format.currency(thousandsSeparator: '.',  currencySign: ' €')}</f:comment>
    </div>
</div>

<!-- Kurzbeschreibung -->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label required" for="shortDescription">Kurzbeschreibung</label>
    <div class="col-sm-9 col-xs-12">
        <f:form.textarea  cols="20" rows="5" property="shortDescription"
                          class=" form-control "
                          additionalAttributes="{required: 'required'}" />
    </div>
</div>

<!-- Beschreibung -->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label" for="name">Beschreibung</label>
    <div class="col-sm-9 col-xs-12">
        <f:form.textarea  cols="20" rows="5" property="description"
                          class=" form-control "/>
    </div>
</div>

<!-- Service specification -->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label" for="name">Service Spezifikation</label>
    <div class="col-sm-9 col-xs-12">
        <f:form.textarea  cols="20" rows="5" property="serviceSpecification"
                          class=" form-control "/>
    </div>
</div>

<!-- Minimum participants -->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label" for="name">Mindesteilnehmer Anzahl</label>
    <div class="col-sm-9 col-xs-12">
        <f:form.textfield property="minimumParticipants"  class="form-control" required="0"/>
    </div>
</div>


<!-- Partner -->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label" for="name">Partner</label>
    <div class="col-sm-9 col-xs-12">
        <f:form.textfield property="partner"  class="form-control" required="0"/>
    </div>
</div>


<!-- Kooperationen -->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label" for="name">Kooperation</label>
    <div class="col-sm-9 col-xs-12">
        <f:form.textfield property="cooperation"  class="form-control" required="0"/>
    </div>
</div>

<!-- Location -->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label" for="name">Lokation</label>
    <div class="col-sm-9 col-xs-12">
        <f:form.textfield property="location"  class="form-control" required="0"/>
    </div>
</div>

<!-- Leader -->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label" for="name">Leiter</label>
    <div class="col-sm-9 col-xs-12">
        <f:form.textfield property="leader"  class="form-control" required="0"/>
    </div>
</div>


<!-- Referent -->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label" for="name">Referent</label>
    <div class="col-sm-9 col-xs-12">
        <f:form.textfield property="referent"  class="form-control" required="0"/>
    </div>
</div>


<!-- Start Datum -->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label" for="startDate">Von - Bis</label>
    <div class="col-sm-9 col-xs-12">
        <f:form.textfield property="startDate" value="{f:format.date(date: leisure.startDate, format: 'd.m.y')}"
                          class="form-control date-field" required="0" />
        <span> - </span>
    <f:form.textfield property="endDate" value="{f:format.date(date: leisure.endDate, format: 'd.m.y')}"
                          class="form-control date-field" required="0" />
    </div>

</div>


<!-- URL zum Flyer auf der Website -->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label" for="url">URL zum Flyer (mit http://)</label>
    <div class="col-sm-9 col-xs-12">
        <f:form.textfield property="url"  class="form-control" required="0" />

    </div>

</div>

<!-- online buchbar wurde entfernt, Funktionalität über Ausleihstelle -> onlineAdministration -->


<!-- Zielgruppe-->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label" for="name">Zielgruppe</label>
    <div class="col-sm-9 col-xs-12">
        <f:for each="{targetGroupList}" as="target" key="key" iteration="itemIteration">
            <f:form.checkbox property="targetGroup" value="{target.uid}" multiple="1" />&nbsp{target.name}
        </f:for>
        <f:comment>
            <f:form.select property="targetGroup" options="{targetGroupList}" optionValueField="uid" optionLabelField="name"
                       prependOptionLabel="-- Zielgruppe --"  multiple="1"
                       value="{leisure.targetGroup}" class=" form-control" additionalAttributes="{required: 'required'}"/>
        </f:comment>
    </div>
</div>

<!-- Ferienzeit-->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label" for ="name">Ferienzeit</label>
    <div class="col-sm-9 col-xs-12">
        <f:for each="{holidayList}" as="item" key="key" iteration="itemIteration">
            <f:form.checkbox property="holiday" value="{item.uid}" multiple="1" />&nbsp{item.name}
        </f:for>
        <f:comment>
            <f:form.select property="holiday" options="{holidayList}" optionValueField="uid" optionLabelField="name"
                       prependOptionLabel="-- Ferienzeiten --" multiple="1"
                       value="{leisure.holiday}" class=" form-control" additionalAttributes="{required: 'required'}"/>
        </f:comment>

    </div>
</div>

<!-- INFO : siehe Ausleihbedingung  -->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label" for ="name">Land</label>
    <div class="col-sm-9 col-xs-12">

        <f:form.select property="country" options="{countryList}" optionValueField="uid" optionLabelField="name"
                       prependOptionLabel="-- Land --"
                       class=" form-control" additionalAttributes="{required: 'required'}"/>

    </div>
</div>



<f:form.validationResults>
    <f:if condition="{validationResults.flattenedErrors}">


        <f:for each="{validationResults.flattenedErrors}" as="errors" key="propertyPath">

            {propertyPath}


            <f:for each="{errors}" as="error">

                {error.code}: {error}
            </f:for>


        </f:for>

    </f:if>
</f:form.validationResults>