

<td>{leisure.uid}</td>
<td>
    <span  data-leisureuid="{leisure.uid}">
        {leisure.title}
    </span>
</td>

<td>{leisure.allTagsAsString}</td>
<td class="price">{leisure.price  -> f:format.number(decimals:2, decimalSeparator:',', thousandsSeparator:'.')}</td>
<td class="date"><f:format.date format="%d.%m.%Y">{leisure.crdate}</f:format.date></td>

<td>
	<div class="btn-group">
		<f:link.action action="edit" arguments="{leisure : leisure}" title="Bearbeiten" class="btn btn-default btn-xs"><i class="fa fa-pencil"></i></f:link.action>
      <a href="#" class="callDeleteConfirm btn btn-default btn-xs" data-leisure="{leisure.title}" data-leisureuid="{leisure.uid}" title="löschen" ><i class="fa fa-trash-o"></i></a>
	</div>
</td>