<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label" for ="name">Artikelname:</label>
    <div class="col-sm-9 col-xs-12">
        <f:form.textfield property="title"  class="form-control" additionalAttributes="{readonly: 'readonly'}" />
    </div>
</div>
<!-- Tags -->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label" for ="name">Tags</label>
    <div class="col-sm-9 col-xs-12">
        <f:for each="{tagList}" as="tag" key="key" iteration="itemIteration">
            <f:form.checkbox property="tags" value="{tag.uid}" multiple="1" disabled="disabled" />&nbsp{tag.name}
        </f:for>

    </div>
</div>


<!-- Bild -->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label" for="name">Bild</label>
    <div class="col-sm-9 col-xs-12">
        <f:if condition="{leisure.image}">
            <f:then>
                
                <f:image src="{leisure.image.originalResource.publicUrl}" width="200" alt="Produktbild" treatIdAsReference="TRUE"/>
            </f:then>
            <f:else>
                <span>Produktbild fehlt!</span>
            </f:else>
        </f:if>

    </div>
</div>
<!-- Gebühr in Euro ab -->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label" for="price">Gebühr in Euro ab </label>
    <div class="col-sm-9 col-xs-12">
        <f:form.textfield property="price" class="form-control" readonly="readonly"/>
    </div>
</div>

<!-- Kurzbeschreibung -->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label" for="shortDescription">Kurzbeschreibung</label>
    <div class="col-sm-9 col-xs-12">
        <f:form.textarea  cols="20" rows="5" property="shortDescription" additionalAttributes="{readonly: 'readonly'}"
                           class=" form-control "/>
    </div>
</div>

<!-- Beschreibung -->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label" for="name">Beschreibung</label>
    <div class="col-sm-9 col-xs-12">
        <f:form.textarea  cols="20" rows="5" property="description" additionalAttributes="{readonly: 'readonly'}"
                          class=" form-control "/>
    </div>
</div>


<!-- Zielgruppe-->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label" for="name">Zielgruppe</label>
    <div class="col-sm-9 col-xs-12">
        <f:for each="{targetGroupList}" as="tag" key="key" iteration="itemIteration">
            <f:form.checkbox property="targetGroup" value="{tag.uid}" multiple="1" disabled="disabled" />&nbsp{tag.name}
        </f:for>

    </div>
</div>

<!-- Ferienzeiten-->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label" for ="name">Ferienzeit</label>
    <div class="col-sm-9 col-xs-12">
        <f:for each="{holidayList}" as="tag" key="key" iteration="itemIteration">
            <f:form.checkbox property="holiday" value="{tag.uid}" multiple="1" disabled="disabled" />&nbsp{tag.name}
        </f:for>

    </div>
</div>

<!-- Länderliste  -->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label" for ="name">Land</label>
    <div class="col-sm-9 col-xs-12">

        <f:form.select property="country" options="{countryList}" optionValueField="uid" optionLabelField="name"
                       prependOptionLabel="-- Land --"
                       class=" form-control" additionalAttributes="{required: 'required'}"/>

    </div>
</div>


