<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label" for ="name">Freizeit Titel:</label>
    <div class="col-sm-9 col-xs-12">
        <f:form.textfield property="title"  class="form-control" additionalAttributes="{readonly: 'readonly'}" />
    </div>
</div>
<!-- Tags -->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label" for ="name">Tags</label>
    <div class="col-sm-9 col-xs-12">
        <f:for each="{tagList}" as="tag" key="key" iteration="itemIteration">
            <f:form.checkbox property="tags" value="{tag.uid}" multiple="1" disabled="disabled" />&nbsp{tag.name}
        </f:for>

    </div>
</div>


<!-- Bild -->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label" for="name">Bild</label>
    <div class="col-sm-9 col-xs-12">
        <f:if condition="{leisure.image}">
            <f:then>
                
                <f:image src="{leisure.image.originalResource.publicUrl}" width="200" alt="Produktbild" treatIdAsReference="TRUE"/>
            </f:then>
            <f:else>
                <span>Produktbild fehlt!</span>
            </f:else>
        </f:if>

    </div>
</div>
<!-- Gebühr in Euro ab -->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label" for="price">Gebühr in Euro ab </label>
    <div class="col-sm-9 col-xs-12">
        <f:form.textfield property="price" class="form-control" value="{leisure.price -> f:format.number(decimals:2, decimalSeparator:',', thousandsSeparator:'')}" readonly="readonly"/>
    </div>
</div>

<!-- Kurzbeschreibung -->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label" for="shortDescription">Kurzbeschreibung</label>
    <div class="col-sm-9 col-xs-12">
        <f:form.textarea  cols="20" rows="5" property="shortDescription" additionalAttributes="{readonly: 'readonly'}"
                           class=" form-control "/>
    </div>
</div>

<!-- Beschreibung -->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label" for="name">Beschreibung</label>
    <div class="col-sm-9 col-xs-12">
        <f:form.textarea  cols="20" rows="5" property="description" additionalAttributes="{readonly: 'readonly'}"
                          class=" form-control "/>
    </div>
</div>

<!-- Service specification -->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label" for="name">Beschreibung</label>
    <div class="col-sm-9 col-xs-12">
        <f:form.textarea  cols="20" rows="5" property="serviceSpecification" additionalAttributes="{readonly: 'readonly'}"
                          class=" form-control "/>
    </div>
</div>

<!-- Minimum participants -->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label" for="name">Mindesteilnehmer Anzahl</label>
    <div class="col-sm-9 col-xs-12">
        <f:form.textfield property="minimumParticipants"  class="form-control" additionalAttributes="{readonly: 'readonly'}" />
    </div>
</div>

<!-- Organization  -->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label" for="name">Veranstalter</label>
    <div class="col-sm-9 col-xs-12">
        <f:form.select property="organization" options="{organizationList}" optionValueField="uid" optionLabelField="name"
                       prependOptionLabel="-- Veranstalter --"
                       class=" form-control" additionalAttributes="{required: 'required'}"/>
    </div>
</div>

<!-- Partner -->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label" for="name">Partner</label>
    <div class="col-sm-9 col-xs-12">
        <f:form.textfield property="partner"  class="form-control"  additionalAttributes="{readonly: 'readonly'}" />
    </div>
</div>


<!-- Kooperationen -->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label" for="name">Kooperation</label>
    <div class="col-sm-9 col-xs-12">
        <f:form.textfield property="cooperation"  class="form-control"  additionalAttributes="{readonly: 'readonly'}" />
    </div>
</div>

<!-- Location -->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label" for="name">Lokation</label>
    <div class="col-sm-9 col-xs-12">
        <f:form.textfield property="location"  class="form-control"  additionalAttributes="{readonly: 'readonly'}" />
    </div>
</div>

<!-- Leader -->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label" for="name">Leitung</label>
    <div class="col-sm-9 col-xs-12">
        <f:form.textfield property="leader"  class="form-control"  additionalAttributes="{readonly: 'readonly'}" />
    </div>
</div>


<!-- Referent -->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label" for="name">Referent*innen</label>
    <div class="col-sm-9 col-xs-12">
        <f:form.textfield property="referent"  class="form-control"  additionalAttributes="{readonly: 'readonly'}" />
    </div>
</div>


    <!-- Start Datum -->
    <div class="row form-group">
        <label class="col-sm-3 col-xs-12 control-label" for="startDate">Von - Bis</label>
        <div class="col-sm-9 col-xs-12">
            <f:form.textfield property="startDate" value="{f:format.date(date: leisure.startDate, format: 'd.m.y')}"
                              class="form-control date-field"  additionalAttributes="{readonly: 'readonly'}" size="8"/>
            <span> - </span>
            <f:form.textfield property="endDate" value="{f:format.date(date: leisure.endDate, format: 'd.m.y')}"
                              class="form-control date-field"  additionalAttributes="{readonly: 'readonly'}" size="8"/>
        </div>

    </div>

<!-- URL zum Flyer -->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label" for="name">URL  zum Flyer</label>
    <div class="col-sm-9 col-xs-12">
        <f:form.textfield property="url"  class="form-control"  additionalAttributes="{readonly: 'readonly'}" />
    </div>
</div>



<!-- Zielgruppe-->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label" for="name">Zielgruppe</label>
    <div class="col-sm-9 col-xs-12">
        <f:for each="{targetGroupList}" as="tag" key="key" iteration="itemIteration">
            <f:form.checkbox property="targetGroup" value="{tag.uid}" multiple="1" disabled="disabled" />&nbsp{tag.name}
        </f:for>

    </div>
</div>

<!-- Ferienzeiten-->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label" for ="name">Ferienzeit</label>
    <div class="col-sm-9 col-xs-12">
        <f:for each="{holidayList}" as="tag" key="key" iteration="itemIteration">
            <f:form.checkbox property="holiday" value="{tag.uid}" multiple="1" disabled="disabled" />&nbsp{tag.name}
        </f:for>

    </div>
</div>

<!-- Länderliste  -->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label" for ="name">Land</label>
    <div class="col-sm-9 col-xs-12">

        <f:form.select property="country" options="{countryList}" optionValueField="uid" optionLabelField="name"
                       prependOptionLabel="-- Land --"
                       class=" form-control" additionalAttributes="{required: 'required'}"/>

    </div>
</div>


