<f:layout name="FrontendAdministration" />


<v:page.header>
    <f:render section="Resources" optional="TRUE" arguments="{_all}" />
</v:page.header>

<div id="wrap" class="container">

    <!-- Wrap all page content here -->
    <header>
        <f:render section="headerslides" />
    </header>
    <div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="" >
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <nav class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li> <a class="logo" href="#"> Startseite </a> </li>
                    <li class="dropdown dropdown"> <a data-toggle="dropdown" class="dropdown-toggle" title="So funktioniert es" href="#"> So funktioniert es<b class="caret"></b> </a>
                        <ul class="dropdown-menu">
                            <li> <a title="Du möchtest etwas ausleihen?" href="#"> Du möchtest dich zu einer Freizeit anmelden? </a> </li>
                            <li> <a title="Kurzinfo für Verleihstellen" href="#"> Kurzinfo für Anbieter </a> </li>
                            <li> <a title="Hilfe" href="#"> Hilfe </a> </li>
                        </ul>
                    </li>
                    <li> <a title="Über diesen Service" href="#"> Über diesen Service </a> </li>
                </ul>
                <div class="clearfix visible-sm"></div>
                <!-- Artikelliste -->
                <ul class="nav navbar-nav navbar-right">
                    <li> <a href="#" class=""> Kontakt </a> </li>
                </ul>
            </nav>
            <!--/.nav-collapse -->

        </div>
    </div>

    <!--TYPO3SEARCH_begin-->

    <div class="" id="content">

        <!-- row für layout -->
        <div class="row content-layout">

            <!-- sidebar -->
            <div class="col-md-3 sidebar-left">

                <f:render partial="PageObjects" section="Sidebar-left-FE" />

            </div>
            <!-- /.sidebar -->

            <!-- hauptinhalt -->
            <div class="col-md-9 hauptinhalt">

                <!-- Startseite -->
                <f:render section="Content" />
            </div>
            <!-- /.hauptinhalt-->



        </div>
        <!-- /.row für Layout -->
    </div>
    <!-- /.container #content-->
    <!-- FOOTER
    ================================================== -->

    <f:render partial="Page/Footer" section="Footer" />


<!-- /.wrap -->
<!--TYPO3SEARCH_end-->
</div>
