<f:layout name="Default" />


<f:section name="main">


<f:flashMessages renderMode="div" />

    <div class="form col-sm-7" role="form">
        <h2>Ändern der Ausleihstelle {organization.name}</h2>
        <f:if condition="{organization}">
            <f:render partial="FormErrors" arguments="{object:Organization}"/>

            <f:form action="update" name="organization" object="{organization}"  class="form-horizontal" additionalAttributes="{autocomplete: 'off'}" arguments="{organization: organization}">
                <f:render partial="Organization/FormFields" arguments="{all}" />
                <f:link.action action="list" pageUid="{settings.pidOrganization}" class="btn btn-default btn-form-back-left"> Zurück </f:link.action>
                <f:form.submit name="organizationUpdate" value="Speichern" class="btn btn-default"/>
            </f:form>
        </f:if>
    </div>
</f:section>