<f:layout name="Default" />


<f:section name="main">
    <h1>Neue Freizeit anlegen</h1>

    <f:flashMessages renderMode="div" />
    <f:comment>
        <f:render partial="FormErrors" arguments="{object:leisure}"/>
    </f:comment>
    <f:if condition="{0:organization} == {0: 'Error'}">
        <f:then>

        </f:then>
        <f:else>
            <f:form action="update" name="leisure" object="{leisure}" class="form-horizontal" additionalAttributes="{autocomplete: 'off'}"
                    enctype="multipart/form-data" arguments="{leisure: leisure}">
                <f:form.hidden name="organizationUid" value="{organization.uid}" ></f:form.hidden>
                <f:form.hidden name="creation" value="1" ></f:form.hidden>
                <f:render partial="Leisure/FormFields" arguments="{_all}" />
                <f:form.submit name="leisureUpdate" value="Anlegen" />
            </f:form>
        </f:else>
    </f:if>


</f:section>