<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers">

<f:layout name="Default" />

<f:section name="main">

<h1>Freizeitenliste für Organisation <br />{organization.name}</h1>

<f:flashMessages renderMode="div" />

<table  class="tx_bjrfeadmin_off article-list table table-striped table-bordered table-condensed table-hover" >
    <thead>
    <tr>
        <th>Id</th>
        <th>Freizeit Titel </th>
        <th>Tags</th>

        <th>Gebühr</th>
        <th>Eintragungs-<br />datum</th>
        <th>Aktion</th>
    </tr>
    </thead>

    <f:for each="{leisures}" as="leisure" key="key" iteration="itemIteration">
        <f:if condition="{itemIteration.isOdd }">
            <f:then>
                <v:variable.set name="class" value="odd"></v:variable.set>
            </f:then>
            <f:else>
                <v:variable.set name="class" value="even"></v:variable.set>
            </f:else>
        </f:if>
        <tr class="{class}">
            <f:render partial="Leisure/Listproperties" arguments="{leisure:leisure}" />
        </tr>
    </f:for>

</table>
    <f:form.hidden name="currentPageId" value="{currentPageId}" id="currentPageId" />

<f:link.action action="new" class="btn btn-primary"><i class="fa fa-plus-circle"></i> Neuer Artikel</f:link.action>
    <div id="dialog" title="Artikel löschen bestätigen" >
        Are you sure about this?
    </div>



</f:section>

