<f:layout name="Default" />


<f:section name="main">


    <f:flashMessages renderMode="div" />

    <div class="backlink">
        <f:link.action action="list" >< Zur Liste der Freizeiten </f:link.action>
    </div>
    <f:form action="update" name="leisure" object="{leisure}" class="form-horizontal" additionalAttributes="{autocomplete: 'off'}"
            enctype="multipart/form-data" arguments="{leisure: leisure}" onsubmit="return false;">
        <f:render partial="Leisure/Properties" arguments="{_all}" />
    </f:form>
    <f:link.action action="new" >Neue Freizeit</f:link.action>


</f:section>