<h4> Ausleihstelle </h4>
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label">Name :</label>
    <div class="col-sm-9 col-xs-12">
        {organization.name}
    </div>
</div>
<!-- benutzername -->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label">Benutzername :</label>
    <div class="col-sm-9 col-xs-12">
        {organization.feusername.username}
    </div>
</div>
<!-- Adresse -->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label" >Straße :</label>
    <div class="col-sm-9 col-xs-12">
        {organization.address.street}
    </div>
</div>

<!-- Telefon -->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label" >Telefon :</label>
    <div class="col-sm-9 col-xs-12">
        {organization.address.phone}
    </div>
</div>
<!-- Mobil -->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label" >Mobil : </label>
    <div class="col-sm-9 col-xs-12">
        {organization.address.mobil}
    </div>
</div>
<!-- Email -->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label" >Email :</label>
    <div class="col-sm-9 col-xs-12">
        {organization.address.email}
    </div>
</div>
<!-- WWWW -->

<!-- Region -->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label" >Region :</label>
    <div class="col-sm-9 col-xs-12">
        {organization.region.name}
    </div>
</div>

<!-- Bedingungen lend_conditions -->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label" >Ausleihbedingung :</label>
    <div class="col-sm-9 col-xs-12">
        {organization.lendConditions}
    </div>
</div>

<!-- Info -->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label" >Info</label>
    <div class="col-sm-9 col-xs-12">
        {organization.info}
    </div>
</div>

<!-- AGB -->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label" >AGB</label>
    <div class="col-sm-9 col-xs-12">
        {organization.agb}
    </div>
</div>

<!-- Öffnungszeiten -->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label" >Öffnungszeiten :</label>
    <div class="col-sm-9 col-xs-12">
        {organization.openingTimes}
    </div>
</div>

<!-- Online-Verwaltung -->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label" for="name">Online Verwaltung :</label>
    <div class="col-sm-2 col-xs-12">
        <f:form.checkbox   property="onlineAdministration"
                           value="1"  class="form-control" disabled="disabled" />
    </div>
</div>
<!-- Nur für regionale Ausleihe -->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label" for="name">Nur lokale Ausleihe</label>
    <div class="col-sm-2 col-xs-12">
        <f:form.checkbox   property="localOnly"
                           value="1"  class="form-control" disabled="disabled" />
    </div>
</div>

<!-- Folder für Artikel -->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label">Seite für Artikel :</label>
    <div class="col-sm-2 col-xs-12">
        {organization.articleFolderPidTitle}
    </div>
</div>


<!-- Kontaktperson  2. Formular -->
<hr>
<h4> Kontaktperson </h4>
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label" >Name :</label>
    <div class="col-sm-9 col-xs-12">
        {organization.contact.name}
    </div>
</div>
<!-- Kontaktperson Email -->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label" >Email :</label>
    <div class="col-sm-9 col-xs-12">
        {organization.contact.address.email}
    </div>
</div>
<!-- Kontaktperson Telefon -->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label" >Telefon :</label>
    <div class="col-sm-9 col-xs-12">
        {organization.contact.address.phone}
    </div>
</div>
<!-- Kontaktperson Strasse -->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label" >Straße :</label>
    <div class="col-sm-9 col-xs-12">
        {organization.contact.address.street}
    </div>
</div>
<!-- Kontaktperson Ort -->
<div class="row form-group">
    <label class="col-sm-3 col-xs-12 control-label" >Ort :</label>
    <div class="col-sm-9 col-xs-12">
        {organization.contact.address.city}
    </div>
</div>


