@charset "utf-8";
/* CSS Document */


ul.subkategorien,
ul.subkategorien.collapsing {
margin: 0px 0px 13px 0px;
border-bottom: 1px solid #CCC;
}


.nav-pills.subkategorien li a {
	padding: 2px;
}

ul.subkategorien li {
	font-size: 0.8em;
	margin: 0px;
	padding: 0px;
}

ul.subkategorien li:last-child {
	margin-bottom: 10px;
}