<f:layout name="Default" />



<f:section name="main">
<h1>Regionen</h1>

<f:flashMessages />

<table  class="tx_bjrfeadmin regions" >
	<tr>
		<th>Name</th>
		<th colspan="2">Aktionen</th>

	</tr>

	<f:for each="{regions}" as="region">
		<tr>
			<td>
                <f:format.html>{region.name}</f:format.html>
            </td>
			<td>
                <f:link.action action="edit" arguments="{region : region}">Bearbeiten</f:link.action>
            </td>
            <td>
                <a href="#" class="callDeleteConfirm" data-name="{region.name}" data-uid="{region.uid}">Löschen</a>

            </td>
		</tr>
	</f:for>
</table>
    <f:form.hidden name="currentPageId" value="{currentPageId}" id="currentPageId" />

<f:link.action action="new">Neue Region</f:link.action>
    <div id="dialog" title="Region löschen bestätigen" >
        Are you sure about this?
    </div>

</f:section>