<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Kundenliste</h1>
<f:debug>{settings}</f:debug>
    <f:flashMessages renderMode="div" />
    <f:link.action action="new" pageUid="{settings.pidOrganizationEdit}" class="btn btn-primary" style="margin-bottom: 20px;"><i class="fa fa-plus-circle"></i> Neue Ausleihstelle</f:link.action><br/>

<table  class="tx_bjrfeadmin organizationlist table table-striped table-bordered table-condensed table-hover" >
    <thead>
        <tr>
            <th>Id</th>
            <th>Ausleihstelle </th>
            <th></th>
            <th>Aktion</th>
        </tr>
    </thead>
	<f:for each="{organizations}" as="organization">
		<tr>
            <f:render partial="Organization/Listproperties" arguments="{organization:organization, settings:settings}" />

		</tr>
	</f:for>
</table>

    <f:link.action action="new" pageUid="{settings.pidOrganizationEdit}" class="btn btn-primary"><i class="fa fa-plus-circle"></i> Neue Ausleihstelle</f:link.action>
</f:section>