<f:layout name="Default" />


<f:section name="main">


    <f:flashMessages renderMode="div" />

    <div class="form col-sm-7" role="form">
        <h2>Anlegen einer neuen Ausleihstelle</h2>
        <f:render partial="FormErrors" arguments="{object:Organization}"/>

        <f:form action="update" name="organization" object="{organization}"  class="form-horizontal" additionalAttributes="{autocomplete: 'off'}" arguments="{organization: organization}">
            <f:form.hidden name="creation" value="1" />
            <f:render partial="Organization/FormFields" arguments="{_all}" />
            <f:form.submit name="organizationUpdate" value="Speichern" />
        </f:form>
    </div>
</f:section>